<!DOCTYPE html>
<html>
<head>
    <title>To Do List</title>
</head>
<body>
    <h1>Meu teste</h1>
    <h1>Minhas tarefas</h1>

    <form method="POST">
        {% csrf_token %}
        <input type="text" name="title" placeholder="Nova tarefa">
        <button type="submit">Adicionar</button>
    </form>

    <ul>
        {% for task in tasks %}
            <li>
                {{ task.title }} - {% if task.done %}✔{% else %}❌{% endif %}
            </li>
        {% endfor %}
    </ul>
    <h1>Feito por Emily e Fábio</h1>
    <h1>Versão Vídeo - ATUALIZADA</h1>
</body>
</html>